.lostAdminPassword{
	cursor: pointer;
}
.updatePaymentMethod {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	display: grid;
	grid-template-columns: 200px 1fr;
	padding: 30px;
	padding-left: 80px;
	height: 50%;
	margin: 20px auto;
	width: 45%;
	border-radius: 20px 20px;
	
	/*flex-direction: column;*/
}

.updateGameWebsite {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	display: grid;
	grid-template-columns: 200px 1fr;
	padding: 30px;
	padding-left: 80px;
	margin: 20px auto;
	width: 45%;
	border-radius: 20px 20px;
	
	/*flex-direction: column;*/
}


.updateinput {
	height: 70%;
	width: 90%;
}
#updateinput {
	height: 250%;
	width: 90%;
}
#addgame {
	padding-left: -10%;
	padding-right: -10%;
}
#submit {
	/* height: 60%;
	width: 90%;
	margin-left: 50%; */
	background-color: red;
	color: white;
	font-weight: bold;
	border: none;
	font-size: larger;
	/* border-radius: 6%; */
}
.center {
	text-align: center;
}
#box-image {
	width: 40%;
	height: 40%;
}
.deleteUpi {
	height: 70%;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5%;
}
.gamelogo {
	width: 60%;
	height: 60%;	
}
.gameName {
	width: 50%;
	height: 35px;
}

#addgame {
	width: 90%;
	height: 35px;
}
