.table_heading {
    display: grid;
    grid-template-columns: 220px 500px 1fr;
    padding-left: 10%;
}
.upi_image {
    width: 50px;
    height: 50px;
}

.data_entry {
    display: grid;
    grid-template-columns: 200px 500px 1fr;
    padding-left: 10%;
}

.upi {
    width: 15px;
    height: 20px;
}

#fileInput {
    padding-top: 130px;
    margin-left: 40%;
}

#upload {
    padding-top: 10px;
    margin-left: 40%;
}

.uploadDiv{
	display: flex;
	width: 60vw;
	margin: auto;
	justify-content: center;
	padding: 25px;
	position: relative;
	background-color: white;
	border-radius: 5px;
}

.formDiv{
	width: 70vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 15px;
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
}

.loadingImage, #uploadModel, #formModel{
 	display: none;
    position: fixed;
     z-index: 100;
     right: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     justify-content: center;
     align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
 }
 
 .loadingImage > img{
 	width: 10%;
 	margin: auto;
    display: block;
    
 }

.deposit_body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

	
.deposit_entry {
	
    flex: 1%;
    /* Other styles for your content */
}

.image-container {
	width: 90px;
	height: 50px;
}
.blankpage {
	width: 30%;
	height: 70%;
	margin-left: 35%;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
}
.IdTable {
	margin-top: 10%;
	margin-left:10%;
	margin-bottom: 18%;
}

.upiID{
	cursor: pointer;	
}

.copyButton {
    margin-left: 5px;
    cursor: pointer;
}

.fa-copy, .fa-circle-check{
	font-size: 20px;
}