@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
.profile-info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}
.profile-info> p{
	color: white;
	font-size: 23px;
	border: 1px solid white;
	padding: 2px 7px;
}