@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
.profile-info{
	display:grid;
	grid-template-columns: 130px 500px;
	grid-gap: 2px;
}
.profile-info> p{
	color: white;
	font-size: 20px;
	padding: 2px 2px;
}



.logo_image{
	width: 10330%;
	height: 100%;
	border: 1px solid black;
	margin: auto;
}